<div class="container dashboard">

  <h1 class="shadow">Bookings for <%= @user.first_name %></h1>

  <div class="bookings">
    <% if @rejected_bookings %>
      <% @rejected_bookings.each do |booking| %>
      <div class="booking_box ">
        <div class="row">
          <div class="col-md-100 col-lg-3">
            <div class="smallerimg booking_img" style="background: url(<%= booking.superhero.image %>)"></div>
          </div>
          <div class="col-md-100 col-lg-9">
            😭😭😭😭😭😭😭
            <p><%= booking.superhero.name %> rejected your booking. </p>
            <%= link_to "Okay then..", user_superhero_booking_path(@user, booking.superhero, booking), class: "okay", method: :delete %>

          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

  <h2 class="shadow">Pending bookings</h2>

  <% if @pending_bookings.empty? %>
    <p>No pending bookings</p>
  <% else %>

    <div class="bookings">
      <% @pending_bookings.each do |booking| %>

          <div class="booking_box">
            <div class="row">
              <div class="col-md-100 col-lg-4 bookingimgbox">
                <% if booking.superhero.user == @user %>
                  <div class="booking_img" style="background: url(<%= booking.user.photo %>)"></div>
                  <%= link_to user_superhero_booking_path(booking, booking.superhero, id: booking.id, accepted: true), method: "patch", class: "accept" do %>
                  <i class="fas fa-check-circle"></i>
                  <% end %>
                  <%= link_to user_superhero_booking_path(booking, booking.superhero, id: booking.id, accepted: "false"), method: "patch",  class: "refuse" do %>
                  <i class="fas fa-times-circle"></i>
                  <% end %>
                <% else %>
                  <div class="booking_img" style="background: url(<%= booking.superhero.image %>)"></div>
                <% end %>
              </div>
              <div class="col-md-100 col-lg-7">
                <h5>
                  <% if booking.superhero.user == @user %>
                    New booking request with user <%= booking.user.first_name %>
                  <% else %>
                    Pending booking with superhero <%= booking.superhero.name %>
                  <% end %>
                </h5>

                <p><%= booking.description %></p>
                <div class="datebox"><i class="far fa-calendar-alt"></i>
                  from <span><%= booking.start_date.to_formatted_s(:short) %></span> to <span><%= booking.end_date.to_formatted_s(:short)%></span>
                </div>



              <% if booking.superhero.user == @user %>

              <% else %>
                <p>Waiting for approval from <%= booking.superhero.name %></p>
                <%= link_to user_superhero_booking_path(@user, booking.superhero, booking), class: "cancel", method: :delete do %>
                  <i class="fas fa-times-circle"></i>  Cancel booking
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <h2 class="shadow">Upcoming bookings</h2>

  <% if @accepted_bookings.empty? %>
    <p>No accepted bookings</p>
  <% else %>
    <div class="bookings">
      <% @accepted_bookings.each do |booking| %>

          <div class="booking_box">
            <div class="row">
              <div class="col-md-100 col-lg-4">

                  <% if booking.superhero.user == @user %>
                    <div class="booking_img" style="background: url(<%= booking.user.photo %>)"></div>
                  <% else %>
                    <div class="booking_img" style="background: url(<%= booking.superhero.image %>)"></div>
                  <% end %>
              </div>
              <div class="col-md-100 col-lg-7">
                <h5>
                  <% if booking.superhero.user == @user %>
                    Booking with user <%= booking.user.first_name %>
                  <% else %>
                    Booking with superhero <%= booking.superhero.name %>
                  <% end %>
                </h5>
                <p><%= booking.description %></p>
                <div class="datebox"><i class="far fa-calendar-alt"></i>
                                  from <span><%= booking.start_date.to_formatted_s(:short) %></span> to <span><%= booking.end_date.to_formatted_s(:short)%></span>
                                </div>
                  <% if booking.superhero.user == @user %>
                    <%= link_to user_superhero_booking_path(@user, booking.superhero, booking), class: "cancel", method: :delete do %>
                    <i class="fas fa-times-circle"></i> Cancel booking
                    <% end %>
                  <% end %>

              </div>
            </div>
          </div>
      <% end %>
     </div>
  <% end %>
  <% if @past_bookings %>
    <h2 class="shadow">Past bookings</h2>
    <div class="bookings">
      <% @past_bookings.each do |booking| %>
          <div class="booking_box">
            <div class="row">
              <div class="col-md-100 col-lg-4">

                  <% if booking.superhero.user == @user %>
                    <div class="booking_img" style="background: url(<%= booking.user.photo %>)"></div>
                  <% else %>
                    <div class="booking_img" style="background: url(<%= booking.superhero.image %>)"></div>
                  <% end %>
              </div>
              <div class="col-md-100 col-lg-7">
                <h5>
                  <% if booking.superhero.user == @user %>
                    Booking with user <%= booking.user.first_name %>
                  <% else %>
                    Booking with superhero <%= booking.superhero.name %>
                  <% end %>
                </h5>
                <p><%= booking.description %></p>
                <div class="datebox"><i class="far fa-calendar-alt"></i>
                                  from <span><%= booking.start_date.to_formatted_s(:short) %></span> to <span><%= booking.end_date.to_formatted_s(:short)%></span>
                                </div>
              </div>
            </div>
          </div>
      <% end %>
     </div>
  <% end %>
</div>


