<div class="container">
  <h1>Bookings for <%= @user.first_name %></h1>

  <h2>Pending bookings</h2>

  <% if @pending_bookings.empty? %>
    <p>No pending bookings</p>
  <% else %>

    <% @pending_bookings.each do |booking| %>
      <div class="booking_box">
        <h4>
          <% if booking.superhero.user == @user %>
            Accept booking with user <%= booking.user.first_name %>
          <% else %>
            Booking with superhero <%= booking.superhero.name %>
          <% end %>
        </h4>

        <p><%= booking.description %></p>
        <ul>
          <li>from: <%= booking.start_date %></li>
          <li>to :<%= booking.end_date %></li>
        </ul>



        <% if booking.superhero.user == @user %>
          <%= link_to "Accept", user_superhero_booking_path(id: booking.id), method: "patch" %>
          <a href="#">Refuse</a>
        <% else %>
          <p>Waiting for approval from <%= booking.superhero.name %></p>
        <% end %>

      </div>
    <% end %>
  <% end %>


  <h2>Accepted bookings for <%= @user.first_name %></h2>

  <% if @accepted_bookings.empty? %>
    <p>No accepted bookings</p>
  <% else %>

    <% @accepted_bookings.each do |booking| %>
      <div class="booking_box">
        <h4>
          <% if booking.superhero.user == @user %>
            Booking with <%= booking.user.first_name %>
          <% else %>
            Booking with <%= booking.superhero.name %>
          <% end %>
        </h4>
        <p><%= booking.description %></p>
        <ul>
          <li>from: <%= booking.start_date %></li>
          <li>to :<%= booking.end_date %></li>
        </ul>

      </div>
    <% end %>
  <% end %>
</div>


