  <div class="container user_profil">
    <div class="login_box user_profil">
      <div class="avatar-large prof-image" style="background-image:url(<%= cl_image_path @user.photo %>);"></div>
        <h1><%= @user.first_name.capitalize %>  <%= @user.last_name.capitalize %></h1>
        <h2><%= @user.bio.capitalize %></h2>
        <h2><%= @user.email %></h2>
        <%= link_to "Edit Profile", edit_user_registration_path(@user), :class => "btn btn-primary"  %>
      </div>

      <div class="small_container">
        <% @superheroes.each do |superhero| %>
          <%= link_to superhero_path(superhero) do %>
            <div class="card superhero-intro nocolor">
              <div class="card-trip">
                  <div class="card-image" style="background-image:url(<%= cl_image_path( superhero.image, :width => 900, :height => 600,
                  :crop => :thumb, :gravity => :face )  %>)">
                  </div>
                  <div class="name">
                    <h4><%= superhero.name %></h4>
                      <div class="edit_delete">
                        <p><%= link_to "Edit", edit_user_superhero_path(@user,superhero) %> <i class="fas fa-edit"></i></i></p>
                        <p><%= link_to "Delete", user_superhero_path(@user,superhero), method: :delete %>  <i class="fas fa-trash-alt"></i></p>
                      </div>
                  </div>

              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
