<div class="container">

  <h1 class="herotitle">Superheroes in Brussels</h1>

  <div class="cardsbox">
  <% @superheros.each do |superhero| %>
    <%= link_to superhero_path(superhero) do %>
      <div class="card">
          <div class="card-trip">
            <div class="card-image" style="background-image:url(<%= superhero.image %>)"></div>
            <div class="name">
              <p><%= superhero.name %></p>
            </div>
            <div class="card-trip-infos">
              <div class="text">
                <p><%= superhero.power.name %></p>
              </div>
              <div class="distance">
                <p>3km away</p>
              </div>
              <div class="price">
                <p><%= superhero.price_per_day %> euro </p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
