<div class="container">
  <div class="row">
    <div class="col-7"><h1><%= @superhero.name %></h1>
    <p class="power"><%= @superhero.power.name %>
    <p><%= @superhero.bio %></p>
  </div>
  <div class="col-4">
    <div class="heroimg" style="background:url('<%= @superhero.image %>');"></div>

  </div>
  </div>

<%= simple_form_for [current_user, @superhero, @booking],  url: user_superhero_bookings_path(current_user, @superhero), method: :post do |f| %>
  <%= f.input :description %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
</div>
